
.dashboard-container {
  top: 0;
  height: 100%;
  width: 80%;
  margin-left: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  background: url("/assets/bg.jpg") no-repeat center center;
  background-size: cover;
  background-position: center;
  position: absolute;
  font-family: 'Poppins', sans-serif;
  filter: brightness(0.8);
}

/* --- Top Bar --- */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #388e3c, #66bb6a);
  padding: 15px 30px;
  border-radius: 12px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.top-bar h2 {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  text-transform: capitalize;
}

.top-bar button {
  background-color: #ffffff;
  color: #4caf50;
  padding: 12px 25px;
  font-size: 10px;
  font-weight: 500;
  margin: 5px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  margin-left: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.top-bar button:hover {
  background-color: #ffffff;
  transform: scale(1.1);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

.top-bar button:focus {
  outline: none;
  box-shadow: 0px 0px 10px rgba(56, 142, 60, 0.5);
}

.dashboard-data {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 20px;
}


.dashboard-data .col {
  flex: 1 1 30%; 
  max-width: 30%;  
}


@media (max-width: 768px) {
  .dashboard-container {
      width: 100%;
      margin-left: 0;
      padding: 20px;
  }

  .dashboard-data .col {
      flex: 1 1 100%;
      max-width: 100%;
  }
}

@media (max-width: 480px) {
  
  .top-bar {
      padding: 10px 15px;
  }

  .top-bar h2 {
      font-size: 1.2rem;
  }

  .top-bar button {
      padding: 8px 15px;
      font-size: 13px;
  }
}
